
body {
  font-family: 'Georgia';
  font-color: #3A3943;
  background-color: #FF3B47;
}

h1 {
  font-family: 'Belgrano', serif;
}

.intro > .title {
  font-size: 3em;
  margin: 5px;
}
.intro > hr {
  margin: 0% 10%;
  border-top: 1px solid white;
}

#header {
  margin: 20px;
}

#header > ul > li {
  list-style-type: none;
}

#portfolio {
  margin-top: 10px;
}

#portfolio > ul > li {
  list-style-type: none;
  display: inline-table;
  width: 375px;
  height: 275px;
  max-height: 275px;
  border: solid black 5px;
  margin: 20px 5px;
  border: 1px solid #3A3943;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;

}

#portfolio > ul > li > div.description {
  height: 275px;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}

#portfolio > ul > li > div.description div.content {
  background: #00CCE8;
  height: 100%;
  text-align: left;
  padding: 0px 5px;
  border-color: #00BCD8;
  border-style: solid;
  border-width: 10px 1px 0px 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: 210px;
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
}

#portfolio > ul > li:hover > div.description div.content {
  margin-top: 0px;
}

#portfolio > ul > li > div.description div.content a {
  color: #5A5963;
  margin-top: 0px;
}


#portfolio > ul > li:hover > div.description div.content a:hover {
  color: #000000;
}

#portfolio > ul > li > div.description > h1.title {
  margin: 5px;
}

ul.tech:before {
  content: "Tech used: "
}

ul.tech > li {
  list-style-type: none;
  display: inline-table;
}

.icons > li {
 display: inline-table;
 margin: 5px;
}

.icons > li > a {
  color: #00CCE8;
}

.icons > li > a:hover {
  color: #B2C4DB;
}
