<div class="span12 pagination-centered">
  <section id="header" class="main">
    <ul>
      <li>
        <img class="header-img" src="/assets/diamond.png"></img>
      </li>
    </ul>
    <ul class="icons">
      <li>
        <a href="http://github.com/danmidwood">
          <i class="fa fa-github-square fa-3x"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/djmidwood">
          <i class="fa fa-twitter-square fa-3x"></i>
        </a>
      </li>
    </ul>
  </section>
</div>
